<h1 class="text-center">To Do List <button class="btn btn-success" (click)="ajoutTache()">+</button></h1>
<div class="row justify-content-center">
  <div class="form-group">
    <label for="tri">Tri</label>
    <select class="form-control" id="tri" [(ngModel)]="tri">
      <option value="1">Afficher tous</option>
      <option value="2">A faire</option>
      <option value="3">Effectué</option>
    </select>
  </div>
</div>

<table class="table table-bordered table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Tâches</th>
      <th scope="col">Statuts</th>
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tache of taches, index as i">
      <ng-template [ngIf]="afficher(i)">
        <td>
          <ng-template [ngIf]="!tache.modification">{{ tache.nom }}</ng-template>
          <ng-template [ngIf]="tache.modification"><input type="text" class="form-control form-control-sm w-50"
              [(ngModel)]="tache.nom"></ng-template>
        </td>
        <td>
          <ng-template [ngIf]="!tache.modification">{{ tache.statut }}</ng-template>
          <ng-template [ngIf]="tache.modification"><button class="btn btn-secondary"
              (click)="confirmerTache(i)">Confirmer la réalisation de la tâche</button></ng-template>
        </td>
        <td>
          <ng-template [ngIf]="!tache.modification"><button class="btn btn-primary"
              (click)="activerModification(i)">Modifier</button></ng-template>
          <ng-template [ngIf]="tache.modification"><button class="btn btn-secondary"
              (click)="desactiverModification(i)">Finir la modification</button></ng-template>
        </td>
        <td><button class="btn btn-danger" (click)="supprimerTache(i)">Supprimer</button></td>
      </ng-template>
    </tr>
  </tbody>
</table>